<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="page-top z-index position-fixed w-100">
    <nav class="navbar navbar-expand-lg navbar-dark m-auto container py-4 px-md-8" style="max-width: 1700px;">
      <a class="navbar-brand" style="z-index: 1000" href="#"><img src="images/braemar-logo.svg" class="img-fluid" alt=""
          srcset=""></a>
      <button style="z-index: 1000" class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-navbar justify-content-lg-end" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#solution">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#iaas">IaaS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#on-premise">On-Premise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#hardware">Hardware</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#consulting">Consulting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <section id="hero" class="bg-dark text-light min-vh-100 page-section d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 text-center text-md-start">
          <h1 class="text-heading fw-light">
            We are <span class="fw-bold">Braemar</span>
          </h1>
          <p>
            Braemar is one of the world’s leading innovative service company providing financial institutions with the
            ability to accept on-land payments. Braemar is the world’s top influencer for modern payment projects.
            Braemar is committed to fostering the collaborative effort required to transform how people, governments,
            and businesses transact and interact with payments.
          </p>
        </div>
        <div class="col-lg-3 offset-lg-2">
          <div class="position-relative lion w-75 w-lg-100 m-auto">
            <div class="lion-head">
              <img src="images/Lion.png" alt="" class="img-fluid">
            </div>
            <div class="position-absolute rotate-180 lion-cover">
              <div id="layaan" class="collapse show">
                <img src="images/Группа масок 3@2x.png" class="img-fluid rotate-180" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#solution" class="handle">
      <span class="visually-hidden">Solution</span>
    </a>
  </section>
  <section id="solution" class="bg-dark-1 text-light page-section pb-16">
    <div class="container">
      <div class="row page-section-inner mb-10">
        <div class="col-lg-4 offset-lg-1 order-lg-2 mb-10 mb-lg-0">
          <h2 class="text-heading">
            Solution
          </h2>
          <p>
            The Braemar solution was created in compliance with international payment system requirements for servicing
            chip-based, contactless, and other types of cards. The solution meets international card security standards
            such as PCI PA DSS, PCI-DSS Level 1, and the Visa PIN Security Program. The software solution is P2PE
            compliant, which greatly simplifies the process of PCI DSS Level 1 certification for merchants.
          </p>
        </div>
        <div class="col-md-3 order-lg-1">
          <img src="images/Card-View 1@2x.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row page-section-inner mb-0">
        <div class="col-lg-4 mb-10">
          <p>
            The Braemar solution provides transaction routing services, payment terminal network management, advanced
            real-time device monitoring, remote software updating, and data exchange to and from the acquiring system of
            the processing centre. Another part of it is a set of applications designed for supporting the payment
            functions of terminals from various manufacturers.
          </p>
        </div>
        <div class="col-lg-4 offset-lg-1">
          <div class="card bg-blue">
            <p class="card-body ff-sans-serif fw-bold">
              The on-land payment infrastructure accompanied by the multi-banking payment gateway for banks and
              financial institutions includes both the best-in-class hardware and bespoke software. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-dark page-section">
    <div class="container">
      <div class="row">

        <h2 class="text-heading fw-light col-lg-4 text-center text-md-start">
          <span class="fw-bold">Braemar solution</span> is certified to work with the following processing hosts
        </h2>
      </div>
      <div class="row page-section-inner certifications">
        <div class="col-md-5 col-lg-4">
          <div class="media">
            <div class="media-thumb">
              <img src="images/Сгруппировать 7.svg" alt="" class="img-fluid">
            </div>
            <div class="media-body bg-light px-5 py-4 ff-sans-serif fw-bold">
              <div class="">
                POSLine ISO8583 Interface
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb">
              <img src="images/Сгруппировать 6.svg" alt="" class="img-fluid">
            </div>
            <div class="media-body bg-light px-5 py-4 ff-sans-serif fw-bold">
              <div class="">
                Transmaster Interface Specification for POS Terminals on ISO8583:1993 (E)
                <br>
                Hypercom POS to Tieto HPT Host interface (Card Suite)
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb">
              <img src="images/Сгруппировать 8.svg" alt="" class="img-fluid">
            </div>
            <div class="media-body bg-light px-5 py-4 ff-sans-serif fw-bold">
              <div class="">
                ISO 8583, OpenWay POS dialect (Way4 Host)
                <br>
                ISO 8583, OpenWay POS dialect (for Transaction switch)
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-4 offset-lg-1">
          <div class="media">
            <div class="media-thumb">
              <img src="images/Сгруппировать 5.svg" alt="" class="img-fluid">
            </div>
            <div class="media-body bg-light px-5 py-4 ff-sans-serif fw-bold">
              <div class="">
                TranzWare ISO8583 Terminal Protocol
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb">
              <img src="images/Сгруппировать 4.png" alt="" class="img-fluid">
            </div>
            <div class="media-body bg-light px-5 py-4 ff-sans-serif fw-bold">
              <div class="">
                SmartVista front end ISO8583 POS Trickle Feed
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb">
              <img src="images/Сгруппировать 9.png" alt="" class="img-fluid">
            </div>
            <div class="media-body bg-light px-5 py-4 ff-sans-serif fw-bold">
              <div class="">
                PKK Payment System
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb">
              <img src="images/Сгруппировать 10.png" alt="" class="img-fluid">
            </div>
            <div class="media-body bg-light px-5 py-4 ff-sans-serif fw-bold">
              <div class="">
                PKK Payment System
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="text-heading text-center">
        Key functionality
      </h2>
      <div class="row page-section-inner mb-0 functionality">
        <div class="col-md-5 col-lg-4">
          <div class="media">
            <div class="media-thumb px-5">
              <div>
                <img src="images/sliders-1.svg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="media-body bg-light p-3 px-lg-5 py-lg-4 ff-sans-serif fw-bold">
              <div class="">
                Centralized management of the device fleet
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb px-5">
              <div>
                <img src="images/lock.svg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="media-body bg-light p-3 px-lg-5 py-lg-4 ff-sans-serif fw-bold">
              <div class="">
                Automated management of encryption keys
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb px-5">
              <div>
                <img src="images/tv.svg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="media-body bg-light p-3 px-lg-5 py-lg-4 ff-sans-serif fw-bold">
              <div class="">
                Integrated monitoring in real-time
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb px-5">
              <div>
                <img src="images/calculator-2.svg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="media-body bg-light p-3 px-lg-5 py-lg-4 ff-sans-serif fw-bold">
              <div class="">
                Multi-banking feature support
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb px-5">
              <div>
                <img src="images/phone.svg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="media-body bg-light p-3 px-lg-5 py-lg-4 ff-sans-serif fw-bold">
              <div class="">
                Decentralization of EFTPOS terminals distribution

              </div>
            </div>
          </div>

        </div>
        <div class="col-md-5 col-lg-4 offset-lg-1">

          <div class="media">
            <div class="media-thumb px-5">
              <div>
                <img src="images/bag-2.svg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="media-body bg-light p-3 px-lg-5 py-lg-4 ff-sans-serif fw-bold">
              <div class="">
                Multi-merchant function support</div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb px-5">
              <div><img src="images/money-2.svg" alt="" class="img-fluid">

              </div>
            </div>
            <div class="media-body bg-light p-3 px-lg-5 py-lg-4 ff-sans-serif fw-bold">
              <div class="">
                Transactions flow recognition
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb px-5">
              <div><img src="images/file-text.svg" alt="" class="img-fluid">

              </div>
            </div>
            <div class="media-body bg-light p-3 px-lg-5 py-lg-4 ff-sans-serif fw-bold">
              <div class="">
                Analytical reporting
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb px-5">
              <div><img src="images/chat-31.svg" alt="" class="img-fluid">

              </div>
            </div>
            <div class="media-body bg-light p-3 px-lg-5 py-lg-4 ff-sans-serif fw-bold">
              <div class="">
                Multi-hosting support
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-thumb px-5">
              <div><img src="images/settings.svg" alt="" class="img-fluid">

              </div>
            </div>
            <div class="media-body bg-light p-3 px-lg-5 py-lg-4 ff-sans-serif fw-bold">
              <div class="">
                Work with equipment from different manufacturers
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="iaas" class="bg-dark page-section">
    <div class="container page-section-inner">
      <div class="row g-0">
        <div class="col-lg-6 bg-black card">
          <div class="card-body w-lg-75">

            <h2 class="text-heading">
              Infrastructure as a Service (IaaS)
            </h2>
            <p>
              We offer the Braemar Infrastructure as a service, which is dedicated to serving our customers’ needs and
              is
              hosted at the Microsoft Azure PCI-DSS zone international data centre located in London, UK. The software
              complies with the PA-DSS standard. The Braemar infrastructure complies with the requirements of the PCI
              DSS
              level 1 standard. The company has been certified annually, the company has also complied with VISA PIN
              security requirements since 2018.
            </p>
          </div>
        </div>
        <div class="col-lg-4 order-lg-2">
          <img src="images/Server-View 1@2x.png" alt="" class="img-fluid h-100 w-100 object-fit-cover">
        </div>
      </div>
    </div>
    <div class="container text-light page-section-inner mb-0 page-section-architecture">
      <div class="row">
        <div class="col offset-lg-2">
          <h2 class="text-heading">
            Architecture
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 offset-lg-2">
          <p>
            The system also the standart functionality on EFTPOS terminals as PCI by implementing additional features
            the
            Visa and lowering hardware and service software infrastructure operating cost - thus which increasing
            revenue.
          </p>
          <p>
            Payment Gateway solution was merchants developed in compliance with international payment system
            requirements
            for servicing chip-based, contactless and other types of cards.
          </p>
        </div>
        <div class="col-lg-3 offset-lg-1">
          The solution meets international card security standarts such as PCI PA DSS, PCI-DSS Level 1 and PIN Security
          Program. The software solution is P2PE compliant, greatly simlifies the precess DSS Level 1 Certification for
          merchants.
        </div>
      </div>
    </div>
  </section>
  <section>
    <img src="images/Сгруппировать 11@3x.png" alt="" class="img-fluid">
  </section>
  <section id="on-premise" class="page-section bg-black text-light">
    <div class="container">
      <h2 class="text-heading offset-lg-1">
        On-Premise
        <br> Deployment
      </h2>
      <div class="row page-section-inner mb-0">
        <div class="col-md-4 offset-lg-1">
          Braemar offers development, implementation, and support of solutions dedicated to payment card acceptance and
          management of a POS terminal network. The system has been developed for administration and control of EFTPOS
          terminal networks and transaction delivery, as well as real-time monitoring of transactions and technical
          features of payment terminals.
        </div>
        <div class="col-md-4 offset-lg-1">
          The solution meets the requirements of the following international payment systems: VISA International,
          MasterCard International, American Express, China Union Pay, Diners Club, etc. The solution supports the
          maintenance of local payment systems, as well as other non-payment instruments.
        </div>
      </div>
    </div>
  </section>
  <section id="hardware" class="page-section bg-dark-1">
    <div class="container text-light">
      <h2 class="text-heading text-center">
        Hardware
      </h2>
      <div class="hardware-wrapper">
        <div class="hardware">
          <div class="hardware-item row g-0 g-md-3 mb-5">
            <div class="col-md-5 pe-lg-12">
              <div class="hardware-desc card bg-dark h-100">
                <div class="card-body">
                  <h3 class="text-heading">
                    HSM
                  </h3>
                  <p>
                    Hardware security modules (HSMs) provide encryption processing and protection for the keys and
                    applications that underlie your critical security processes. Thales HSMs are easy to integrate with
                    your
                    systems and applications. They are also flexible and scalable. That means they can meet your
                    evolving
                    encryption and compliance needs.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5 ps-lg-12">
              <div class="hardware-img bg-dark d-flex align-items-end h-100">
                <img src="images/Shield-View 1@2x.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="hardware-item row g-0 g-md-3 mb-5 flex-md-row-reverse">
            <div class="col-md-5 ps-lg-12">
              <div class="hardware-desc card bg-dark h-100">
                <div class="card-body">
                  <h3 class="text-heading">
                    Smart POS<br> Terminals
                  </h3>
                  <p>
                    Smart POS terminals allow you to process payments on the spot, only printing receipts when needed,
                    and
                    best of all, access to all the useful apps you need to help you accelerate your business.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5 pe-lg-12">
              <div class="hardware-img bg-dark d-flex align-items-end h-100">
                <img src="images/Untitled-View 3@2x.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="hardware-item row g-0 g-md-3 mb-5">
            <div class="col-md-5 pe-lg-12">
              <div class="hardware-desc card bg-dark h-100">
                <div class="card-body">
                  <h3 class="text-heading">
                    Credit Card Machines
                  </h3>
                  <p>
                    A wide range of payment card machines including countertop, mobile, and portable solutions. Launched
                    on Linux or traditional operational systems.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5 ps-lg-12">
              <div class="hardware-img bg-dark d-flex align-items-end h-100">
                <img src="images/Untitled-View 1@2x.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section id="consulting" class="bg-light-1 page-section">
    <div class="container text-dark">
      <h2 class="text-heading">
        Consulting
      </h2>
      <div class="row">
        <div class="col-lg-4">
          <p>
            Banks face an imminent need to upgrade their payments infrastructure.
          </p>
          What’s the compulsion? Rising end-user expectations, alternative payment networks, and evolving developments
          such as the UK’s New Payments
          Architecture, RTGS renewal for higher value payments and increased adoption of the ISO 20022 standard,
          typically driven by governments, central banks, regulators or banks’ networks.
          <p>
          </p>
          Compelled as they are by competitive and disruptive forces, it would be shrewd for banks to take this
          opportunity to build payments
          platforms that are grounded in the future.
          </p>
        </div>
        <div class="col-lg-4 offset-lg-1">
          <p>Infusing innovations—like cloud, digital currency, biometric authentication and AI—into these platforms
            will
            enable modern, compliant, more secure payments that meet buyers’ expectations.
          </p>
          <p>
            We assist banks in modernising
            their payments platforms. By going higher and doing more, they can create efficient clearing and settlement
            systems that enable open, innovative, and secure payments experiences.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="about-us" class="page-section text-dark container">
    <h2 class="text-heading offset-lg-1">
      About Us
    </h2>
    <div class="row g-0">
      <div class="col-lg-3 offset-lg-1 mb-10 mb-lg-0">
        <p>
          Braemar was founded in 2018. Today, the main activity of Braemar is the development of software for managing
          the fleet of POS terminals and routing transactions.
        </p>
        <p>
          Braemar is an expert in the field of acquiring and
          payments. The company, which is an acquiring expert, operates as Terminal Service Provider (ТSP) in the EU,
          provides outsourcing services for acquiring networks in different countries, as well as consulting for
          organisations engaged in acquiring activities.
        </p>
        <p>
          Within the TSP activities in the EU, Braemar annually passes
          compliance requirements of the PCI DSS Level 1 international standards, as well as the Visa PIN Security
          certification.
        </p>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <div class="card bg-primary text-white">
          <div class="card-body ff-sans-serif fw-bold">
            <p>
              Sale of POS terminal equipment
            </p>
            <p>
              Technical and business consultations for companies engaged in acquiring
              activities
            </p>
            <p>
              Development, implementation, and support of software for POS terminals
            </p>
            <p>
              Acquiring network
              outsourcing
            </p>
            <p>
              Development of solutions for alternative transactional systems
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section id="contact" class="container page-section bg-light text-dark mb-10 mb-lg-20">
    <div class="row">
      <div class="col-lg-8 offset-lg-1">
        <h2 class="text-heading">
          Contact
        </h2>
        <form action="">
          <div class="row g-3 row-cols-md-2">
            <div>
              <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Company Name">
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Email Address">
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Country">
            </div>
            <div>
              <textarea class="form-control" rows="4" placeholder="Request"></textarea>
            </div>
            <div class="d-flex align-items-end justify-content-end">
              <div class="w-100 text-end">
                <input type="submit" class="btn btn-light w-100 w-lg-auto" value="Submit">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <footer class="bg-dark-1 page-section">
    <div class="container">
      <div class="page-section-inner mb-4">
        <a href="#">
          <img src="images/braemar-logo.svg" class="img-fluid" alt="" srcset="">
        </a>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="row row-cols-md-2">
            <div>

              <div class="nav flex-column"><a class="nav-link" href="#solution">Solution</a>

                <a class="nav-link" href="#iaas">IaaS</a> <a class="nav-link" href="#on-premise">On-Premise</a>

                <a class="nav-link" href="#hardware">Hardware</a>
              </div>
            </div>
            <div>
              <div class="nav flex-column">
                <a class="nav-link" href="#consulting">Consulting</a>
                <a class="nav-link" href="#about-us">About Us</a>
                <a class="nav-link" href="#contact">Contact</a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-5 col-lg-3 ms-auto d-flex justify-content-between">
          <div class="fs-lg-xs text-lg-end py-4">
            Braemar OÜ<br> Reg. No 14709357 <br>
            <br>
            Registered address: <br>
            67/1-13B Tartu maantee<br> Kesklinna linnaosa<br> 10115 Tallinn
            Estonia
          </div>
          <img src="images/Сгруппировать 30.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </footer>
  <script src="js/bundle.js"></script>
</body>

</html>