@import "../../node_modules/bootstrap/scss/functions"; // Required
@import "../../node_modules/bootstrap/scss/variables"; // Required
@import "../../node_modules/bootstrap/scss/mixins"; // Required
//colours
$green: #334341;
$green-dark: #0d1d1b;
$green-vibrant: #38f561;
$green-faded: #ebf5f1;
$blue: #4460f5;

$body-color: rgba(235, 245, 241, 0.8);

$primary: $blue;

$custom-colors: (
  "light-1": $green-faded,
  "light": #d3dbd8,
  "dark": $green-dark,
  "dark-1": $green,
  "accent": $orange,
  "primary": $blue,
  "blue": $blue,
  "black": #000,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$min-contrast-ratio: 3;

//typography
$font-family-sans-serif: "SF UI Text", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-heading: "Nocturne Serif", serif;
$font-size-base: 1rem;
$font-family-base: "Nocturne Serif", serif;

$h1-font-size: 3.125rem;
$h2-font-size: 3.125rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.3125rem;
$h6-font-size: $font-size-base;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  sm: 0.875rem,
  md: 1.25rem,
  2md: 1.5625rem,
  lg: 1.875rem,
  xl: 3.125rem,
);

$headings-font-family: "Nocturne Serif", serif;
$headings-font-weight: 500;

$grid-columns: 10;
$grid-gutter-width: 0.75rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 990px,
  xxl: 1140px,
) ;

$card-spacer-y:                     1.55rem;
$card-spacer-x:                     1.55rem;
$card-border-width:                 0;
$card-border-radius:                0;

$btn-border-radius: 0;
$input-border-radius:   0;
$input-placeholder-color: rgba(13, 29, 27, 0.6);
@import "../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                77ch: 77ch,
              )
            ),
        )
      ),
    "position":
      map-merge(
        map-get($utilities, "position"),
        (
          responsive: true,
          values: map-get(map-get($utilities, "position"), "values"),
        )
      ),
    "z-index": (
      property: "z-index",
      values: (
        negative: -1,
        auto: auto,
      ),
    ),
  )
);

@import "../../node_modules/bootstrap/scss/bootstrap";
/* @import "../../node_modules/bootstrap/scss/reboot";  */ // Required
/* @import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
//@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
//@import "../../node_modules/bootstrap/scss/input-group"; // Requires forms
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar"; // Requires nav
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal"; // Requires transitions
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print"; */
