@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Bolditalic.eot');
  src: local('Nocturne Serif Bold italic'), local('NocturneSerif-Bolditalic'),
      url('NocturneSerif-Bolditalic.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Bolditalic.woff2') format('woff2'),
      url('NocturneSerif-Bolditalic.woff') format('woff'),
      url('NocturneSerif-Bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-ExtraLightitalic.eot');
  src: local('Nocturne Serif ExtraLight italic'), local('NocturneSerif-ExtraLightitalic'),
      url('NocturneSerif-ExtraLightitalic.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-ExtraLightitalic.woff2') format('woff2'),
      url('NocturneSerif-ExtraLightitalic.woff') format('woff'),
      url('NocturneSerif-ExtraLightitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Black.eot');
  src: local('Nocturne Serif Black'), local('NocturneSerif-Black'),
      url('NocturneSerif-Black.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Black.woff2') format('woff2'),
      url('NocturneSerif-Black.woff') format('woff'),
      url('NocturneSerif-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Bold.eot');
  src: local('Nocturne Serif Bold'), local('NocturneSerif-Bold'),
      url('NocturneSerif-Bold.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Bold.woff2') format('woff2'),
      url('NocturneSerif-Bold.woff') format('woff'),
      url('NocturneSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Italic.eot');
  src: local('Nocturne Serif Italic'), local('NocturneSerif-Italic'),
      url('NocturneSerif-Italic.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Italic.woff2') format('woff2'),
      url('NocturneSerif-Italic.woff') format('woff'),
      url('NocturneSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Regular.eot');
  src: local('Nocturne Serif Regular'), local('NocturneSerif-Regular'),
      url('NocturneSerif-Regular.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Regular.woff2') format('woff2'),
      url('NocturneSerif-Regular.woff') format('woff'),
      url('NocturneSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Blackitalic.eot');
  src: local('Nocturne Serif Black italic'), local('NocturneSerif-Blackitalic'),
      url('NocturneSerif-Blackitalic.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Blackitalic.woff2') format('woff2'),
      url('NocturneSerif-Blackitalic.woff') format('woff'),
      url('NocturneSerif-Blackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-SemiBold.eot');
  src: local('Nocturne Serif SemiBold'), local('NocturneSerif-SemiBold'),
      url('NocturneSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-SemiBold.woff2') format('woff2'),
      url('NocturneSerif-SemiBold.woff') format('woff'),
      url('NocturneSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-ExtraLight.eot');
  src: local('Nocturne Serif ExtraLight'), local('NocturneSerif-ExtraLight'),
      url('NocturneSerif-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-ExtraLight.woff2') format('woff2'),
      url('NocturneSerif-ExtraLight.woff') format('woff'),
      url('NocturneSerif-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-ExtraBold.eot');
  src: local('Nocturne Serif ExtraBold'), local('NocturneSerif-ExtraBold'),
      url('NocturneSerif-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-ExtraBold.woff2') format('woff2'),
      url('NocturneSerif-ExtraBold.woff') format('woff'),
      url('NocturneSerif-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Lightitalic.eot');
  src: local('Nocturne Serif Light italic'), local('NocturneSerif-Lightitalic'),
      url('NocturneSerif-Lightitalic.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Lightitalic.woff2') format('woff2'),
      url('NocturneSerif-Lightitalic.woff') format('woff'),
      url('NocturneSerif-Lightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Thin.eot');
  src: local('Nocturne Serif Thin'), local('NocturneSerif-Thin'),
      url('NocturneSerif-Thin.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Thin.woff2') format('woff2'),
      url('NocturneSerif-Thin.woff') format('woff'),
      url('NocturneSerif-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Nocturne Serif ExtraThin';
  src: url('NocturneSerif-ExtraThinitalic.eot');
  src: local('Nocturne Serif ExtraThin italic'), local('NocturneSerif-ExtraThinitalic'),
      url('NocturneSerif-ExtraThinitalic.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-ExtraThinitalic.woff2') format('woff2'),
      url('NocturneSerif-ExtraThinitalic.woff') format('woff'),
      url('NocturneSerif-ExtraThinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Mediumitalic.eot');
  src: local('Nocturne Serif Medium italic'), local('NocturneSerif-Mediumitalic'),
      url('NocturneSerif-Mediumitalic.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Mediumitalic.woff2') format('woff2'),
      url('NocturneSerif-Mediumitalic.woff') format('woff'),
      url('NocturneSerif-Mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Thinitalic.eot');
  src: local('Nocturne Serif Thin italic'), local('NocturneSerif-Thinitalic'),
      url('NocturneSerif-Thinitalic.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Thinitalic.woff2') format('woff2'),
      url('NocturneSerif-Thinitalic.woff') format('woff'),
      url('NocturneSerif-Thinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Medium.eot');
  src: local('Nocturne Serif Medium'), local('NocturneSerif-Medium'),
      url('NocturneSerif-Medium.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Medium.woff2') format('woff2'),
      url('NocturneSerif-Medium.woff') format('woff'),
      url('NocturneSerif-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-SemiBolditalic.eot');
  src: local('Nocturne Serif SemiBold italic'), local('NocturneSerif-SemiBolditalic'),
      url('NocturneSerif-SemiBolditalic.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-SemiBolditalic.woff2') format('woff2'),
      url('NocturneSerif-SemiBolditalic.woff') format('woff'),
      url('NocturneSerif-SemiBolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-Light.eot');
  src: local('Nocturne Serif Light'), local('NocturneSerif-Light'),
      url('NocturneSerif-Light.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-Light.woff2') format('woff2'),
      url('NocturneSerif-Light.woff') format('woff'),
      url('NocturneSerif-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nocturne Serif ExtraThin';
  src: url('NocturneSerif-ExtraThin.eot');
  src: local('Nocturne Serif ExtraThin'), local('NocturneSerif-ExtraThin'),
      url('NocturneSerif-ExtraThin.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-ExtraThin.woff2') format('woff2'),
      url('NocturneSerif-ExtraThin.woff') format('woff'),
      url('NocturneSerif-ExtraThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Nocturne Serif';
  src: url('NocturneSerif-ExtraBolditalic.eot');
  src: local('Nocturne Serif ExtraBold italic'), local('NocturneSerif-ExtraBolditalic'),
      url('NocturneSerif-ExtraBolditalic.eot?#iefix') format('embedded-opentype'),
      url('NocturneSerif-ExtraBolditalic.woff2') format('woff2'),
      url('NocturneSerif-ExtraBolditalic.woff') format('woff'),
      url('NocturneSerif-ExtraBolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on August 2, 2017 10:14 PM */

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-HeavyItalic.eot');
	src: local('SF UI Text Heavy Italic'), local('SFUIText-HeavyItalic'),
		url('SFUIText-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-HeavyItalic.woff') format('woff'),
		url('SFUIText-HeavyItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-LightItalic.eot');
	src: local('SF UI Text Light Italic'), local('SFUIText-LightItalic'),
		url('SFUIText-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-LightItalic.woff') format('woff'),
		url('SFUIText-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-MediumItalic.eot');
	src: local('SF UI Text Medium Italic'), local('SFUIText-MediumItalic'),
		url('SFUIText-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-MediumItalic.woff') format('woff'),
		url('SFUIText-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Medium.eot');
	src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
		url('SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Medium.woff') format('woff'),
		url('SFUIDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Regular.eot');
	src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
		url('SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Regular.woff') format('woff'),
		url('SFUIDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Light.eot');
	src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
		url('SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Light.woff') format('woff'),
		url('SFUIDisplay-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Thin.eot');
	src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
		url('SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Thin.woff') format('woff'),
		url('SFUIDisplay-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Ultralight.eot');
	src: local('SF UI Display Ultralight'), local('SFUIDisplay-Ultralight'),
		url('SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Ultralight.woff') format('woff'),
		url('SFUIDisplay-Ultralight.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-Semibold.eot');
	src: local('SF UI Text Semibold'), local('SFUIText-Semibold'),
		url('SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-Semibold.woff') format('woff'),
		url('SFUIText-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Semibold.eot');
	src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
		url('SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Semibold.woff') format('woff'),
		url('SFUIDisplay-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-Regular.eot');
	src: local('SF UI Text Regular'), local('SFUIText-Regular'),
		url('SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-Regular.woff') format('woff'),
		url('SFUIText-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Black.eot');
	src: local('SF UI Display Black'), local('SFUIDisplay-Black'),
		url('SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Black.woff') format('woff'),
		url('SFUIDisplay-Black.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-BoldItalic.eot');
	src: local('SF UI Text Bold Italic'), local('SFUIText-BoldItalic'),
		url('SFUIText-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-BoldItalic.woff') format('woff'),
		url('SFUIText-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-Bold.eot');
	src: local('SF UI Text Bold'), local('SFUIText-Bold'),
		url('SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-Bold.woff') format('woff'),
		url('SFUIText-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Heavy.eot');
	src: local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
		url('SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Heavy.woff') format('woff'),
		url('SFUIDisplay-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-Light.eot');
	src: local('SF UI Text Light'), local('SFUIText-Light'),
		url('SFUIText-Light.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-Light.woff') format('woff'),
		url('SFUIText-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-Heavy.eot');
	src: local('SF UI Text Heavy'), local('SFUIText-Heavy'),
		url('SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-Heavy.woff') format('woff'),
		url('SFUIText-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-Medium.eot');
	src: local('SF UI Text Medium'), local('SFUIText-Medium'),
		url('SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-Medium.woff') format('woff'),
		url('SFUIText-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('SFUIDisplay-Bold.eot');
	src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
		url('SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('SFUIDisplay-Bold.woff') format('woff'),
		url('SFUIDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-Italic.eot');
	src: local('SF UI Text Italic'), local('SFUIText-Italic'),
		url('SFUIText-Italic.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-Italic.woff') format('woff'),
		url('SFUIText-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SF UI Text';
	src: url('SFUIText-SemiboldItalic.eot');
	src: local('SF UI Text Semibold Italic'), local('SFUIText-SemiboldItalic'),
		url('SFUIText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('SFUIText-SemiboldItalic.woff') format('woff'),
		url('SFUIText-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
