@import "./custom.scss";
@import "./fonts.scss";
html {
  font-size: 16px
}
.text-heading {
  font-size: 30px;
  margin-bottom: 1em;
}

.text-navbar {
  font-size: 2.1875rem;
  @include media-breakpoint-up(lg) {
    font-size: 0.833rem;
  }
}

@include media-breakpoint-up(xxxl) {
  html {
    font-size: 30px;
  }
  .text-heading {
    font-size: 50px;
  }
}
@include media-breakpoint-up(xxxl) {
  html {
    font-size: 1.875rem;
  }
  .text-heading {
    font-size: 1.67rem;
  }
}

.page-section {
  padding: {
    top: 3.75rem;
    bottom: map-get($spacers, 20);
  }
  @include media-breakpoint-up(xxxl) {
    padding: {
      top: 3.33rem;
    }
  }
  &-inner {
    margin: {
      bottom: map-get($spacers, 20);
    }
    @include media-breakpoint-up(xxxl) {
      margin: {
        bottom: map-get($spacers, 20);
      }
    }
  }
}

.ff-sans-serif {
  font-family: $font-family-sans-serif;
}

input,
textarea {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  &::placeholder {
    font-weight: bold;
  }
  &[type="submit"] {
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-family: $font-family-sans-serif;
    color: $input-placeholder-color;
    &:hover {
      background-color: white;
    }
  }
}

.page-section-architecture {
  position: relative;
  padding-left: 61px !important;
  &:before {
    content: "";
    width: 10%;
    height: 100%;
    display: block;
    position: absolute;
    background: #38f561;
    left: 0;
  }

  @include media-breakpoint-up(lg) {
    padding-left: $grid-gutter-width;
    &:before {
      left: $grid-gutter-width;
    }
  }
}

.container {
  padding: {
    left: 36px;
    right: 36px;
  }

  @include media-breakpoint-up(lg) {
    padding: {
      left: 0;
      right: 0;
    }
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

.lion {
  &-head {
    position: relative;
    &::before, &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 80px;
    }
    &::before {
      content: "B";
      right: calc(100% + 25px);
    }
    &::after {
      content: "R";
      left: calc(100% + 25px)
    }
  }

  &-cover {
    border-bottom: 20px solid $green-vibrant;
    bottom: -10px;
    width: 100%;
  }
}


footer {
  a.nav-link {
    color: white;
    padding-left: 0;
  }
}

.object-fit-cover {
  object-fit: cover;
}

.media {
  @include make-row();
  &-thumb {
    @include make-col-ready();
    @include make-col(3, $columns: 12);
  }
  &-body {
    @include make-col-ready();
    @include make-col(9, $columns: 12);
  }
}